html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(72, 0, 72);
  background: linear-gradient(150deg, rgba(72, 0, 72, 1) 0%, rgba(192, 72, 72, 1) 100%);
  color: white;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}